body
{
    margin: 0px;
    padding: 0px;
}
.logo a
{
    display: flex;
    color: #eee;
}
.logo img
{
    width: 50px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d35649;
}
.icone
{
    color: #eee;
    text-decoration: none;
    margin-right: 30px;
}

.icone a
{
    color: #eee;
    text-decoration: none;
    margin-right: 30px;
}
.icone a:hover
{
    color: #98a5a5;
}
i
{
    margin-right: 10px;
}
.Box
{
    background-image: url(assets/Images/group-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    padding: 100px;
    text-align: center;
}
.Box h1
{
    color: #eee;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
}
.titre
{
    color: #d35649;
    text-align: center;
}
.barre
{
    display: flex;
    justify-content: center;
}
.back
{
    background-color: #eee;
    padding: 15px;
    opacity: 75%;
    border-radius: 2px;
    width: 50%;
    margin: auto;
}

.search_box button
{
    height: 25px;
    background-color: #d35649;
    border: none;
    border-radius: 5px;
    color: #eee;
}

.search_box input
{
    width: 80%;
}
.how button
{
    margin-top: 50px;
    opacity: 80%;
}
.max-icon
{
    width: 50%;
    padding: 30px;
}
.max-icon img
{
    width: 60px;
    margin-bottom: -30px;
}
.flex-one
{
    display: flex;
    text-align: center;
}
.flex-two
{
    display: flex;
    text-align: center;
}
.box-red
{
    background-color: #d35649;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
}
.box-red button a
{
    color: #d35649;
    text-decoration: none;
}
.box-grey
{
    background-color: #98a5a5;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
}
.box-grey button a
{
    color: #98a5a5;
    text-decoration: none;
}
.box-bleu
{
    background-color: #509bd7;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
}
.photo img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.maps img
{
    width: 100px;
    border: 2px solid #eee;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    
}
.box-fin
{
    
    background-color: #1f1f1f;
    

}
.interieur
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.interieur a:hover
{
    color: #98a5a5;
}
.border 
{
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    padding: 10px;
}
.border a
{
    color: #eee;
    text-decoration: none;
    margin-left: 20px;
}
.button-righ 
{
    text-align: right;
    margin-right: 150px;
}
.button-righ button:hover
{
    background-color: #160380;
}
.flex-fin
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #eee;
    padding: 50px;
}
.flex-fin .inser button
{
    color: #eee;
    background-color: #444;
    border: none;
    border-radius: 2px;
    height: 35px;
}
.flex-fin .inser input
{
    background-color: #1f1f1f;
    border: 1px solid #98a5a5;
    width: 130px;
    height: 20px;
}
.mail a
{
    color: #d35649;
    text-decoration: none;
    display: inline;
    transform: translate(-50%, -50%);
    position: absolute;
}
.mail a::after
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d35649;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.mail a:hover::after
{
    transform: scale(1);
}
.colore-learn a
{
    color: #d35649;
    text-decoration: none;
    position: relative;
}
.colore-learn a:after
{
    content: "";
    position: absolute;
    background-color: #d35649;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
.colore-learn a:hover:after
{
    width: 100%;
}
footer
{
    background-color: #444;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: #98a5a5;
}
ul
{
    display: flex;
    list-style: none;
}
ul li i
{
    margin-right: 15px;
    color: #98a5a5;
}
ul li i:hover
{
    color: #509bd7;
}


.sunny
{
    color: #d35649;
    text-align: center;
}
.cage 
{
    height: 70px;
    width: 500px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 4px #98a5a5,
     -2px -2px 4px #98a5a5;
    margin-right: 100px;
    padding-top: 15px;
    margin-bottom: 20px;
    
     
}
h3 strong
{
    color: #509bd7;
}
.traite
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenu
{
    margin-left: 40px;
    margin-top: 100px;
    padding: 15px;
    box-shadow: 2px 2px 4px #98a5a5,
     -2px -2px 4px #98a5a5;
    
}
.contenu button
{
    background-color: blue;
    border: 1px solid #98a5a5;
    color: #eee;
    height: 50px;
    width: 70px;
}
.contact
{
    display: flex;
    justify-content: space-around;

}
.contact i
{
    color: #509bd7;
}
.click h1
{
    text-align: center;
    color: #d35649;
}
.click img
{
    width: 50px;
}
.view
{
    background-color: #e6f3f3;
    margin-top: 60px;
    padding: 30px;
    margin-left: 20px;
}
.view a
{
    text-decoration: none;
    color: #1f1f1f;
    display: inline;
    transform: translate(-50%, -50%);
    position: relative;
}
.click .view a::after
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #1f1f1f;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.click .view a:hover::after
{
    transform: scale(1);
}
.items
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte iframe
{
    width: 95%;
    height: 300px;
    margin: 30px;
}

.grey-in
{
    background-color: #f5f3f3;
    padding: 30px;
    margin-top: 30px;
}
.grey-in h1
{
    text-align: center;
    color: #98a5a5;
}
.loc input
{
    width: 100px;
}
.date input
{
    width: 150px;
}
.complete
{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;  
    padding-right: 10%; 
}
.bloc-text h3
{
    color: #98a5a5;
    text-align: center;
}
.photos img
{
    width: 250px;
    height: 200px;
    background-color: #d35649;
}
.photos
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photos figure figcaption
{
    display: flex;
    align-items: center;
    position: relative;
    top: -220px;
    text-align: center;
}
.photos figure figcaption p
{
    color: #fff;
    margin-left: 25px;
    text-shadow: 1px 1px 4px #eee;
    font-size: 20px;
}
.complete
{
    flex-wrap: wrap;
}
.loc
{
    margin-bottom: 10px;
}
.complete .blue
{
    background-color: #006dc7;
    border: none;
    border-radius: 5px;
    color: #eee;
    width: 70px;
}
.complete .orange
{
    background-color: rgb(255, 196, 4);
    border: none;
    border-radius: 5px;
    color: #eee;
    width: 120px;
}
@media (max-width: 600px)
{
    nav
    {
        flex-direction: column;
    }
    nav span
    {
        display: none;
    }
    .icone i 
    {
        padding-bottom: 10px;
        padding-left: 60px;
    }
    .search_box button
    {
        width: 165px;
    }
    .intercale
    {
        display: none;
    }
    .photo img
    {
        border-radius: 30px;
        width: 500px;
        height: 300px;
    }
    .mots
    {
        position: absolute;
        color: #eee;
        padding: 70px;
    }
    .box-fin
    {
        display: none;
    }
    .all_box .reverse
    {
        display: flex;
        flex-direction: column-reverse;
    }


    .traite
    {
        flex-direction: column;
    }
    
    .contenu
    {
        margin-left: 2%;
        margin-top: 50px;
    }
    


    
    
    .photos
    {
        flex-direction: column;
    }
    .photos figure
    {
        margin-bottom: -30px;
    }
    .button-righ
    {
        margin-right: 20px;
    }
    .contact
    {
        flex-wrap: wrap;
    }
    

}